1. Endeksi alfabenin ilk 10 harfi olan ve ilk 10 asal sayıyı ve ilk 10 fibonacci sayısını içeren bir veri çerçevesi oluşturun.

In [1]:
# alfabenin ilk 10 harfi 
import string
string.ascii_lowercase
'abcdefghijklmnopqrstuvwxyz'
print(string.ascii_letters[0:10])

abcdefghij

In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [5]:
#ilk on asal sayi
sayi= 16
def asal_kontrol(sayi) : 
    for x in range(2,sayi):
        if sayi%x==0:
            print ("sayi asal degil")
            return False
        else :
            print ("sayi asal")
            return True

asal_kontrol(sayi)

sayi asal degil

False

In [16]:
def asal_sayi(n):
    asal_sayilar=[2]
    sayi=2
    while len(asal_sayilar)<n:
        if asal_kontrol(sayi)==True:
            asal_sayilar.append(sayi)
            sayi=sayi+1
            return asal_sayilar

In [ ]:
asal_sayi(10)

In [ ]:
def fibonacci_sayi(n):
    fibonacci_sayilari=[1,1]
    while len(fibonacci_sayilari)<n:
        fibonacci_sayilari.append(fibonacci_sayilari[-1]+fibonacci_sayilari[-2])
        return fibonacci_sayilari

In [ ]:
fibonacci_sayi(10)

In [ ]:
df = pd.DataFrame({'asal_sayi': asal_sayi,'fibonacci' : fibonacci_numbers},
                  index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h','i','j'])

2. Kaggle'dan Titanic: Machine Learning from Disaster isimli yarışmanın train.csv isimli dosyasını indirin ve Pandas veri çerçevelerini kullanarak tüm veriyi yükleyin. Veri çerçevelerinin .groupby() metodunu kullanarak yolcuların ortalama yaşlarını herbir cinsiyet için ayrı olacak şekilde hesaplayın.

In [19]:
df =pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [20]:
df.groupby(by='Sex').mean()['Age']

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

3. Koşullu seçim yöntemlerini de kullanarak, 30 yaşından küçük tüm yolcuların kurtulma oranını (survival ratio) hesaplayın. Daha sonra, kurtulma oranını cinsiyete göre ayrı ayrı hesaplayın.

In [21]:
len(df[(df ['Age'] <30)&(df['Survived']==1)]) / len(df) *100

17.50841750841751

In [22]:
df.groupby(by="Sex").mean()*100

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
Sex,,,,,,,
female,43102.866242,74.203822,215.923567,2791.570881,69.426752,64.968153,4447.981783
male,45414.731369,18.890815,238.994801,3072.664459,42.980936,23.570191,2552.389341

In [23]:
len(df[(df['Sex']=='female')&(df['Survived']==1)])/len(df)*100

26.15039281705948

In [24]:
len(df[(df['Sex']=='male')&(df['Survived']==1)])/len(df)*100

12.2334455667789